<h2 mat-dialog-title>{{ 'CONFIRM_POST' | translate | async }}</h2>

<mat-dialog-content>
  <p>
    {{ 'CONFIRM_POST' | translate | async }} <strong>#{{ data.journal.entryNumber }}</strong>.
    <br />
    {{ 'POST_CONFIRM_NOTE' | translate | async }}
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'CANCEL' | translate | async }}</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">{{ 'POST' | translate | async }}</button>
</mat-dialog-actions>
