.w-100 {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-dialog-actions {
  margin-top: 1rem;
}

.custom-dialog-container .mat-mdc-dialog-container {
  border-radius: 12px;
  padding: 1rem;
}